* {
    margin:0px;
    padding:0px;
}
body {
    background: #ffffff;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;    
}
ul {
    list-style:none;
    font-size:12px;
}
#top,#vi,#nav,#main,#bt {
    width: 779px;
    margin: 0px auto;
}
#top,#bt {
    background-color:rgba(0, 0, 0, 0.5);
}
#top {
    margin-top: 20px;
    height: 18px;
    padding-top: 5px;
    text-align: right;
    color: #fff;
}
#top_txt {
    margin-right: 5px;
}
#top_txt a {
    color:lightblue;
    text-decoration: none;
}
#top_txt a:visited {
    color: lightblue;
}
#top_txt a:hover {
    color: #fff;
}
#vi {
    height: 85px;
    background: rgba(255, 255, 255, 0.507);
}
#tt {
    margin-left: 120px;
    padding-top: 8px;
    text-indent: -40px;
    line-height: 2em;
    font-size: 20px;
    font-weight: bold;
}
#nav {
    height: 35px;
    background: #e6e4db;
}
#nav ul {
    margin-left: 30px;
}
#nav ul li {
    float: left;
}
#nav ul a {
    display: block;
    width: 85px;
    height: 25px;
    padding-top: 10px;
    text-decoration: none;
    letter-spacing: 15px;
    text-align: center;
    color: purple;
    font-size: 15px;
    font-weight: bold;
}
#nav ul a:visited {
    color: purple;
}
#nav ul a:hover {
    color:pink;
}
#nav ul li.bar {
    width: 6px;
    padding-top: 12px;
}
#main {
    height: 560px;
    background: rgba(255, 255, 255, 0.788);
}
#bt {
    height: 46px;
    margin-top: 12px;
    padding-top: 34px;
    text-align: center;
    color: #fff;
}
h4 {
    letter-spacing: 1em;
    font-size: 15px;
    background: #e6e4db;
    height:24px;
    border-bottom: 1px solid #d9d7cd;
    padding-top: 5px;
    margin-top: 2px;
    padding-left: 10px;
}
#right {
    width: 754px;
    height: 538px;
    border: 1px solid #d9d7cd;
    margin-top: 10px;
    margin-left: 10px;
    float:left;
}
#right h4 {
    width: 744px;
}
#right h5 {
    font-size: 13px;
    text-align: center;
}
#right a {
    color: rgb(148, 129, 255);
}
#right a:visited {
    color: rgb(148, 129, 255);
}
#right a:hover {
    color: #8800ff;
}
#right table td {
    text-align: center;
}
#right img {
    width: 100px;
    border: 1px solid #999;
}